/* line 1, /Users/gabeeayres/Sites/academy/style/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, /Users/gabeeayres/Sites/academy/style/_box-sizing.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 5, /Users/gabeeayres/Sites/academy/style/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 26, /Users/gabeeayres/Sites/academy/style/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 30, /Users/gabeeayres/Sites/academy/style/_reset.scss */
body {
  line-height: 1; }

/* line 33, /Users/gabeeayres/Sites/academy/style/_reset.scss */
ol, ul {
  list-style: none; }

/* line 36, /Users/gabeeayres/Sites/academy/style/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 39, /Users/gabeeayres/Sites/academy/style/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 44, /Users/gabeeayres/Sites/academy/style/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 16, /Users/gabeeayres/Sites/academy/style/style.scss */
body {
  background-color: #DDDDDF;
  text-decoration: none;
  font-family: "Oxygen";
  text-align: justify;
  word-spacing: 0.25rem;
  margin: 1em; }

/* line 25, /Users/gabeeayres/Sites/academy/style/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IM Fell English"; }

/* line 34, /Users/gabeeayres/Sites/academy/style/style.scss */
p {
  margin: 1em 0; }

/* line 38, /Users/gabeeayres/Sites/academy/style/style.scss */
ul,
ol {
  margin: 1em; }

/* line 43, /Users/gabeeayres/Sites/academy/style/style.scss */
ul li {
  list-style-type: circle; }

/* line 47, /Users/gabeeayres/Sites/academy/style/style.scss */
ol li {
  list-style-type: decimal; }

/* line 51, /Users/gabeeayres/Sites/academy/style/style.scss */
a {
  color: #238634;
  text-decoration: inherit; }

/* line 56, /Users/gabeeayres/Sites/academy/style/style.scss */
#logo {
  margin: 1em;
  width: 20%; }

/* line 62, /Users/gabeeayres/Sites/academy/style/style.scss */
.dropdown-container {
  margin: -1em;
  background-color: #383643;
  color: #DDDDDF; }
  /* line 66, /Users/gabeeayres/Sites/academy/style/style.scss */
  .dropdown-container .menu {
    display: inline-block;
    float: right;
    margin: 1em; }
    /* line 70, /Users/gabeeayres/Sites/academy/style/style.scss */
    .dropdown-container .menu .little-menu-bar {
      width: 35px;
      height: 5px;
      background-color: #DDDDDF;
      border-radius: 10px;
      margin: 6px 0; }
  /* line 78, /Users/gabeeayres/Sites/academy/style/style.scss */
  .dropdown-container:hover .dropdown-content {
    display: block; }
  /* line 81, /Users/gabeeayres/Sites/academy/style/style.scss */
  .dropdown-container .dropdown-content {
    display: none;
    color: #DDDDDF; }
    /* line 86, /Users/gabeeayres/Sites/academy/style/style.scss */
    .dropdown-container .dropdown-content a {
      color: inherit; }

@media (min-width: 600px) {
  /* line 94, /Users/gabeeayres/Sites/academy/style/style.scss */
  .nav-bar {
    margin: -1em;
    display: block; }
    /* line 97, /Users/gabeeayres/Sites/academy/style/style.scss */
    .nav-bar li {
      display: inline-block;
      padding: 0 1.25%; }
    /* line 101, /Users/gabeeayres/Sites/academy/style/style.scss */
    .nav-bar .menu {
      display: none; }
  /* line 105, /Users/gabeeayres/Sites/academy/style/style.scss */
  .dropdown-content {
    display: inherit; }
  /* line 108, /Users/gabeeayres/Sites/academy/style/style.scss */
  .primary-nav {
    font-family: "IM Fell English";
    font-size: 1.25rem; }
  /* line 112, /Users/gabeeayres/Sites/academy/style/style.scss */
  .secondary-nav {
    position: absolute;
    right: 0;
    font-size: .85em;
    color: #238634; } }

/*# sourceMappingURL=style.css.map */