<!DOCTYPE html>
<html>
  <h1>Add a course:</h1>
  <form class="form" method="post" action="/course_testing">
    <label>Course name: <input type="text" name="name"></label>
    
    <label for="">Course number: <input type="number" name="number"></label>
    
    <fieldset>
     <legend>Department(s):</legend>
     
      <ul class="column_list_container pl">
        <% Department.find_each do |dept| %>
          <li class="column_list_item"><label><input type="checkbox" name="departments[]"
          value= <%= dept.abbrev %> > <%= dept.name %></label></li>
        <% end %>
      </ul>
    </fieldset>
    
    <label>Course description:
      <textarea type="text" name="description" maxlength="600" wrap="soft" placeholder="Course Description">
      </textarea>
    </label>
    
    <p><input type="submit"></p>
  </form>
 
 
  <h1>Courses by department:</h1>
  <% depts = Department.includes(:courses) %>
  <% depts.each do |dept| %>
    <ul><h4><%= dept.name %></h6>
    <% dept.courses.each do |thing| %>
      <li><%= thing.name %></li>
    <% end %></ul>
  <% end %>  
</html>