<!DOCTYPE html>
<html>
  <h1>Add a course:</h1>
  <form method="post" action="/course_testing">
    <p>Course name: <input type="text" name="name"></p>
    <fieldset><legend>Department(s):</legend>
      <% Department.find_each do |dept| %>
      <li><input type="checkbox" name="departments[]"
      value= <%= dept.abbrev %> > <%= dept.name %> </li>
      <% end %>
    </fieldset>
    <p>Course number: <input type="number" name="number"></p>
    <p><input type="submit"></p>
  </form>
 
 
  <h1>Courses by department:</h1>
  <% depts = Department.includes(:courses) %>
  <% depts.each do |dept| %>
    <ul><%= dept.name %>
    <% dept.courses.each do |thing| %>
      <li><%= thing.name %></li>
    <% end %></ul>
  <% end %>  
</html>