<!DOCTYPE html>
<html>
<footer class="solid-block space-above footer">
  <div>
    ©Copyright 1257 by the President and Daughter-in-Law Elect of the Academy of Scholars and Fools.
  </div>
  <div>
    More links will go here when I get my shit together.
  </div>
  </div>
</footer>
</html>