<div class="section_container">
  <section>
    <h2>Campus Map</h2>
    <figure><%= image_tag('/images/campus_map.png', :alt => 'Campus Map', :class => 'campus_map image') %>
    <figcaption>Campus map, with east pointing up. Residential and commercial buildings, as well as the main roads, are to the west. </figcaption>
    </figure>
  </section>
  <section>
    <h2>Directions</h2>
    <p>The Academy is located high in the scenic Obtuse Mountains, on the western face of Mt. Oblivious. The two most direct routes up the mountain from the west are the Scholar's Road and the Fool's Road. The Scholar's Road is a gentle, paved, switchback road and is recommended for travelers who are elderly, disabled, or very young. The Fool's Road is a steep gravel incline and it is recommended for travelers who have no sense of self-preservation.</p>
    
    
    <h4>From Dublin</h4>
    <p>Take the Road Liffey for fifteen leagues as it follows the river, then head south at the Obtuse Crossroads and take either the Scholar's Road or the Fool's Road.</p>
    <p>Road Liffey has two inns: The Laughing Lemur is eight leagues from Dublin, and The Histrionic Hedgerow is at the Obtuse Crossroads, full fifteen leagues from Dublin.</p>
    <p>Travel is feasible on foot, on horseback, or via the merchant caravans and barges which travel to and from the Academy fortnightly.</p>
    
    <h4>From Daloph</h4>
    <p></p>
    
    <h4>From the waterlogged wreckage where Port Blossem used to be</h4>
    <p></p>
    
    
  </section>
  <section>
    <h2>Inns and Stables</h2>
    <p>There are two inns in town, Ida's Rest and The Flowers That Bloom In The Spring (Tra-La), both an easy walking distance from the Academy campus. There's also The Histrionic Hedgerow, which is down the mountain at the Obtuse Crossroads. The Histrionic Hedgerow and Ida's Rest both have large stables.</p>
  </section>
  <section>
    <h2>Tours and Information</h2>
    <p></p>
  </section>
</div>