$hover-link-color: white;
// Style for non-mobile header
.big_header_container {
  // layout
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 30vh;
  // background image
  background-image: url("../images/wizards.png");
  background-repeat: no-repeat;
  background-size: cover;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content:"";
    background-image: 
      linear-gradient($dark-accent-color,
                      rgba(0, 0, 0, 0) 60%,
                      $background-color);
  }
  .big_header_item {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
      margin: $margin;
      padding: $padding;
      max-width: 30vw;
    }
    .nav_title--big {
      color: $background-color;
      margin: $margin;
      padding: $padding;
      font-family: $masthead-font;
      // flexing yer muscles
      display: flex;
      flex-flow: column nowrap;
      align-content: stretch;
      .academy {
        font-size: 5vw;
        padding-top: 2.5vw;
      }
      i {
        font-family: $fancy-font;
        font-size: 1rem;
      }
    }
  }
  
  li {
    z-index: 3;
    list-style-type: none;
    padding: $padding;
    color: inherit;
    transition: color 0.5s;
  }
  .secondary_nav--big {
    // layout
    margin: 0;
    padding: 0;
    align-self: flex-start;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    // text
    font-size: 0.75rem;
    color: $background-color;
    li:hover {
      color: $hover-link-color;
    }
  }
  .primary_nav--big {
    // layout
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    // text
    font-family: $fancy-font;
    font-size: 1rem;
    font-size: 3vw;
    color: $dark-accent-color;
    li:hover {
      color: black;
    }
  }
}
