$small-header-min-height: 50px;
$masthead-font-size: 3.75vw;
$masthead-font-size__small: $masthead-font-size * 0.75;
$hamburger-dimension: 1.25em;
$hamburger-ratio: 0.15;
// Header
.small_header_container {
  // layout
  width: 100%;
  display: flex;
  flex-direction: row;
  //  min-height: $small-header-min-height;
  justify-content: flex-end;
  // color
  background-color: $dark-accent-color;
  color: $background-color;
}

// Masthead
.masthead_name--small {
  // positioning
  position: absolute;
  left: 0;
  // layout
  margin-left: $margin;
  padding: $padding;
  // font
  font-family: $masthead-font;
  font-size: $masthead-font-size;
  span {
    margin: 0 0.125em;
  }
  .ital {
    font: $cursive-font;
    vertical-align: middle;
    font-size: $masthead-font-size__small;
    padding-right: 0.125em;
  }
}

// Dropdown
.dropdown_container {
  // position
  height: auto;
  // layout
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  // hide dropdown when not in use
  .dropdown_item {
    // stealth
    max-height: 0vh;
    width: 0vw;
    z-index: -1;
    transition-property: max-height;
    transition-delay: 1s;
    transition-duration: 1s;
  }
  // bring out dropdown
  &:hover {
    .navicon {
      background-color: $light-accent-color;
      box-shadow: 0 2 * $hamburger-ratio * $hamburger-dimension $light-accent-color, 0 4 * $hamburger-ratio * $hamburger-dimension $light-accent-color;
      transition-property: box-shadow, background-color;
      transition-duration: 0.5s;
    }
    .dropdown_item {
      // de-stealth
      z-index: 1;
      display: block;
      transition: max-height 3s;
      max-height: 300px;
      display: block;
      // layout
      width: 100vw;
      text-align: right;
      padding: $padding;
    }
  }
  // highlight dropdown items on hover
  .dropdown_item:hover {
    color: $light-accent-color;
    background-color: $base-font-color;
    transition-property: color, background-color;
      transition-duration: 0.5s;
  }
  .navicon {
    // layout
    margin: $margin;
    margin-bottom: $margin + $hamburger-dimension * 4 * $hamburger-ratio;
    // main shape
    background-color: $background-color;
    width: $hamburger-dimension;
    height: $hamburger-ratio * $hamburger-dimension;
    border-radius: 3px;
    // the shadows
    box-shadow: 0 0 $background-color, 0 2 * $hamburger-ratio * $hamburger-dimension $background-color, 0 4 * $hamburger-ratio * $hamburger-dimension $background-color;
  }
}
