  @import "_mixins";
$header-height: 30vh;
$masthead-width: 30vw;
$masthead-font-size__big: $masthead-width * 0.15;
$masthead-font-size__smaller: $masthead-font-size__big * 0.41;
$masthead-font-size__smallest: $masthead-font-size__smaller * 0.75;
// Style for non-mobile header
.big_header_container {
  // layout
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: $header-height;
  // background image
  background-repeat: no-repeat;
  background-size: cover;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(rgba($dark-accent-color, 0.8), rgba(black, 0) 65%, $background-color);
  }
  li {
    z-index: 3;
    list-style-type: none;
    padding: $padding;
    color: inherit;
  }
  .masthead {
    z-index: 1;
    width: $masthead-width;
    // flex those biceps
    display: flex;
    align-items: center;
    .masthead_logo {
      margin: $margin;
      //      display: block;
    }
  }
  .masthead_name--big {
    // regular layout stuff
    margin: $margin;
    padding: $padding 0;
    p {
      margin: 0;
      font-family: $masthead-font;
      color: $background-color;
    }
    .title {
      font-size: $masthead-font-size__big;
    }
    .subtitle {
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
      }
      .ital {
        font: $cursive-font;
        font-size: $masthead-font-size__smallest;
      }
      .normal {
        font-size: $masthead-font-size__smaller;
        vertical-align: middle;
      }
    }
  }
}

.secondary_nav--big {
  // layout
  margin: 0;
  padding: 0;
  position: absolute;
  align-self: flex-end;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  // text
  font-size: 0.75rem;
  color: $background-color;
}

.primary_nav--big {
  // layout
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  // text
  font: $cursive-font;
  font-size: 3vw;
  color: $dark-accent-color;
  @include link_hover($dark-accent-color, black);
}

@media(max-width: $big-screen-threshold) {
  .big_header_container:before {
    background-image: linear-gradient(rgba($dark-accent-color, 0.8), rgba(black, 0) 45%, $background-color);
  }
  .masthead_logo {
    display: none;
  }
  .masthead_name--big {
//    margin-left: $margin * 2;
    @include link_hover($background-color, white);
  }
  .primary_nav--big {
    display: flex;
    flex-flow: row wrap;
    font-size: 5vw;
    li {
      margin: 0 5vw;
      padding: $padding / 4 $padding;
      text-align: center;
    }
  }
}
