<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@title</title>
  </head>
  <body>
    Bold-faced ranger, perfect stranger, meets two well-behaved young ladies--
  </body>
</html>
